<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/caller.js"></script>
    
    <title>Main Page</title>
</head>
<body>
    <button onclick="createcall()">Create Call</button>
    <input type="text" placeholder="callid" id="roomid">
    <button onclick="joincall()">Join Call</button>
    <button onclick="closecall()">Close Call</button>
    <video id="localvideo" autoplay playsinline></video>
    <video id="remotevide" autoplay playsinline></video>
</body>
</html>